
#s1021 { background-color: #29001c; }
#s1021 h1 { color: #898989; }
#s1021 h1 span, #s1021 p { color: #ffffff; }

#s1020 { background-color: #000001; }
#s1020 h1 { color: #666666; }
#s1020 h1 span, #s1020 p { color: #ffffff; }

#s1022 { background-color: #8c8276; }
#s1022 h1 { color: #0b0b0b; }
#s1022 h1 span, #s1022 p { color: #ffffff; }

#s1016 { background-color: #a6a6a6; }
#s1016 h1 { color: #404040; }
#s1016 h1 span, #s1016 p { color: #ffffff; }

#s1017 { background-color: #a6a6a6; }
#s1017 h1 { color: #404040; }
#s1017 h1 span, #s1017 p { color: #ffffff; }

#s1015 { background-color: #969696; }
#s1015 h1 { color: #404040; }
#s1015 h1 span, #s1015 p { color: #ffffff; }

#s1014 { background-color: #e4eff3; }
#s1014 h1 { color: #33adc1; }
#s1014 h1 span, #s1014 p { color: #404040; }

#s1004 { background-color: #969696; }
#s1004 h1 { color: #404040; }
#s1004 h1 span, #s1004 p { color: #ffffff; }

#s1009 { background-color: #848484; }
#s1009 h1 { color: #ffffff; }
#s1009 h1 span, #s1009 p { color: #33363b; }

#s1005 { background-color: #EBECBB; }
#s1005 h1 { color: #B3B800; }
#s1005 h1 span, #s1005 p { color: #404040; }

#s1008 { background-color: #ffffff; }
#s1008 h1 { color: #b0b3aa; }
#s1008 h1 span, #s1008 p { color: #808181; }

#s1002 { background-color: #ffffff; }
#s1002 h1 { color: #404040; }
#s1002 h1 span, #s1002 p { color: #A6A5A5; }

#s1013 { background-color: #b9b8b8; }
#s1013 h1 { color: #898888; }
#s1013 h1 span, #s1013 p { color: #ffffff; }

#s1007 { background-color: #ffffff; }
#s1007 h1 { color: #FFBF00; }
#s1007 h1 span, #s1007 p { color: #404040; }

#s1011 { background-color: #2E2E2E; }
#s1011 h1 { color: #027ABB; }
#s1011 h1 span, #s1011 p { color: #FFFFFF; }

#s1003 { background-color: #BFC5BB; }
#s1003 h1 { color: #404040; }
#s1003 h1 span, #s1003 p { color: #ffffff; }

#s1001 { background-color: #F4F3F3; }
#s1001 h1 { color: #FD015A; }
#s1001 h1 span, #s1001 p { color: #404040; }

#s1000 { background-color: #68787E; }
#s1000 h1 { color: #FE9900; }
#s1000 h1 span, #s1000 p { color: #ffffff; }

#s1010 { background-color: #99A9D1; }
#s1010 h1 { color: #FFFFFF; }
#s1010 h1 span, #s1010 p { color: #2B2B2B; }
